/*  your css code here. If applicable */
#container {
	margin:20px;
	*{
		display:inline;
	}
}

	
div::before{
	font-size:20px;
	content:"Before Element";
	color:red;
}
div::after{
	font-size:20px;
	content:"After Element";
	color:red;
}